// app global css in SCSS form

// IMPORTS

@import "_variables";
@import "_fonts";
@import "_spacing";

// COLORS

$colors: (
  "primary": $vk-primary,
  "secondary": $vk-secondary,
  "tertiary": $vk-tertiary,
  "accent": $vk-accent,
  "danger": $vk-danger,
  "info": $vk-info,
  "warning" : $vk-warning,
  "grey": $vk-grey
);

// COLOR RELATED CLASSED

@each $name, $color in $colors {
  // classes for texts in every color
  .text-vk-#{$name} {
    color: $color !important;
  }
  // classes for backgrounds in every color
  .bg-vk-#{$name} {
    background-color: $color !important;
  }
  // classes for borders in every color
  .border-vk-#{$name} {
    border-left: 1px solid $color !important;
    border-right: 1px solid $color !important;
    border-top: 1px solid $color !important;
    border-bottom: 1px solid $color !important;
  }
  // classes for text shadows in every color
  .ts-#{$name} {
    text-shadow: -1px -1px 7px $color;
  }
}

html,
body {
  font-family: $regular;
  color: black;
}

// CLASSES
.q-field--error .q-field__bottom {
  color: $vk-danger !important;
}

.q-field__messages {
  font-family: $regular;
}

.no-padding-dialog {
  .q-dialog__inner--minimized {
    padding: 0 !important;
  }
}

.rounded-white-border-input {
  .q-field--outlined .q-field__control::before {
    border: 1px solid white !important;
  }
}

.white-border-bottom-input {
  .q-field--standard .q-field__control::before {
    border-bottom: 1px solid #F5F5F5 !important;
  }
}

a {
  cursor: pointer;
}

/** {
  border: 1px solid red;
}*/


//  SCROLL CLASS STARTS
/* Tamaño del scroll */
@media (max-width: 400px) {
  .scroll::-webkit-scrollbar {
    width: 0;
    margin: 80px !important;
  }
}

@media (min-width: 450px)
{
  .scroll::-webkit-scrollbar {
    width: 8px;
    margin: 80px !important;
  }
}
/* Estilos barra (thumb) de scroll */
.scroll::-webkit-scrollbar-thumb {
  background: $vk-secondary;
  border-radius: 4px;
  height: 19px !important;
}

.scroll::-webkit-scrollbar-thumb:active {
  background-color: $vk-secondary;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

// SCROLL CLASS ENDS

// GENERAL SCROLLBAR STYLES STARTS

::-webkit-scrollbar {
  width: 8px;
  margin: 80px !important;
}

/* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background: $vk-secondary;
  border-radius: 4px;
  height: 19px !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: $vk-secondary;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

// GENERAL SCROLLBAR STYLES ENDS
